.cart{
    margin: 60px auto;
}
.cart hr{
    height: 3px;
    background-color: #e2e2e2;
    border: 0;
}
.cart-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartItems-format{
   font-size: 17px;
   font-weight: 500;

}
.cartItems-format img{
    height: 62px;
}
.cart svg{
        width: 15px;
        margin: 0 40px;
        cursor: pointer;
}
.cartItems-format button{
    width: 64px;
    height:50px;
    border:2px solid #ebebeb;
    background-color: #fff;
}
