.relativeProduct {
    margin-bottom: 8vw;
  }
  .relativeProduct-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px 0 40px 0;
    margin-bottom: 10px;
  }
  .relativeProduct h1 {
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 5px;
  }
  .relativeProduct hr {
    width: 150px;
    height: 4px;
    background-color: black;
    border-radius: 5px;
  }
.relativeProduct-items{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}