@import './styles/NavBar.css';
@import './styles/Hero.css';
.container{
    padding-inline: 8vw;
}
.main{
    padding-block: 10vw;
}
@media only screen and (max-width:1024px) {
    .container{
        padding-inline: 6vw;
    }
}
@media only screen and (max-width:769px) {
    .container{
        padding-inline: 3vw;
    }
}
@import './styles/item.css';
@import './styles/popular.css';
@import './styles/offers.css';
@import './styles/NewCollection.css';
@import './styles/NewsLetter.css';
@import './styles/Footer.css';