@import './components/NavBar/NavBar.css';
@import './components/Hero/Hero.css';
.container{
    padding-inline: 8vw;
}
.main{
   padding-top: 60px;
}
@media only screen and (max-width:1024px) {
    .main{
        padding-top: 0px;
    }
    .container, .nav-bar{
        padding-inline: 6vw;
    }
    
}
@media only screen and (max-width:769px) {
    .container, .nav-bar{
        padding-inline: 3vw;
    }
}
.app{
   display: flex; 
   flex-direction: column;
   min-height:100vh
}
.app-content{
    flex: 1
}
@import './components/Item/item.css';
@import './components/Popular/popular.css';
@import './components/Offers/offers.css';
@import './components/NewCollection/NewCollection.css';
@import './components/NewsLetter/NewsLetter.css';
@import './components/Footer/Footer.css';
@import './components/pages/LoginSignUp/LoginSignup.css';
@import './components/pages/ShopCategory/ShopCategory.css';
@import './components/BreadCrum/Breadcrum.css';
@import './components/ProductDisplay/ProductDisplay.css';
@import './components/DescriptionReview/DescriptionReviewsBox.css';
@import './components/RelativeProducts/RelativeProducts.css';
@import './components/pages/Cart/Cart.css';
