/* .productDisplay{
    height: 550px;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.productDisplay-left{
    border: 1px solid rgb(176, 174, 174);
    padding: 10px;
    width: 50%; 
    display: flex;
    gap: 10px;
}
.productDisplay-img-list{
    width: 21%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.productDisplay-img-list img{
    width: 100%;
    height: 25%;
    padding: 5px;
    object-fit: contain;
}
.productDisplay-img{
       width: 80%;
}
.productDisplay-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productDisplay-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.productDisplay-right h1{
    font-weight: 500;
}
.productDisplay-right-star{
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 16px;
    color: #1c1c1c;
    margin-top: 10px;
}
.productDisplay-right-prices{
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-weight: 700;
}
.productDisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productDisplay-right-price-new{
    color: #ff4141;
}
.productDisplay-right-sizes h4{
   font-weight: 600;
   font-size: 20px;
   color: rgb(89, 87, 87);
   margin-top: 5px;
}
.productDisplay-right-size{
    margin-top: 10px;
    display: flex;
    column-gap: 20px;
    height: 40px;
}
.productDisplay-right-size div{
    background-color: rgb(243, 240, 240);
    width: 40px;
    height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(89, 87, 87);
   cursor: pointer;
   border-radius: 3px;
}
.productDisplay-right button{
    width: 150px;
    padding: 15px 20px;
    border: none;
    background-color: #ff4141;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
@media screen and (max-width:579px) {
    .main{
        padding-top: 0px;
    }
    
    .productDisplay{
        flex-direction: column;
        height: auto;
        gap: 20px;
    }
    .productDisplay-right{
        width: 100%;
        row-gap: 16px;
    }
    .productDisplay-right h1{
        font-size: 24px;
    }
    .productDisplay-left{
        width: 100%;
    }
    .productDisplay-btn{
        background-color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        width: 100%;
    }
    .productDisplay-btn button{
        margin: 0px;
        width: 50%;

    }
} */
.productDisplay {
  display: flex;
  margin-bottom: 20px;
  column-gap: 40px;
}
.productDisplay-left {
  display: flex;
  gap: 10px;
}
.productDisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productDisplay-img-list img {
  height: 120px;
}
.productDisplay-main-img img {
  width: 400px;
  height: 510px;
}

.productDisplay-right {
  height: 100%;
  width: 586px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.productDisplay-right h1 {
  font-weight: 500;
}
.productDisplay-right-star {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
  color: #1c1c1c;
  margin-top: 10px;
  font-weight: 500;
}
.productDisplay-right-prices {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-weight: 700;
}
.productDisplay-right-price-old {
  color: #818181;
  text-decoration: line-through;
}
.productDisplay-right-price-new {
  color: #ff4141;
}
.productDisplay-right-description {
  font-weight: 400;
}
.productDisplay-right-sizes h4 {
  font-weight: 600;
  font-size: 20px;
  color: rgb(89, 87, 87);
  margin-top: 5px;
}
.productDisplay-right-size {
  margin-top: 10px;
  display: flex;
  column-gap: 20px;
  height: 40px;
}
.productDisplay-right-size div {
  background-color: rgb(243, 240, 240);
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(89, 87, 87);
  cursor: pointer;
  border-radius: 3px;
}
.productDisplay-btn {
  display: flex;
  column-gap: 10px;
}
.productDisplay-right button {
  width: 150px;
  padding: 15px 20px;
  border: none;
  background-color: #ff4141;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  margin-top: 10px;
  cursor: pointer;
}
@media screen and (max-width: 1220px) {
  .productDisplay {
    column-gap: 20px;
  }
  .productDisplay-img-list img {
    height: 110px;
  }
  .productDisplay-main-img img {
    width: auto;
    height: 470px;
  }
  .productDisplay-right h1 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1024px) {
  .productDisplay-left {
    gap: 5px;
  }
  .productDisplay-img-list {
    gap: 5px;
  }
  .productDisplay-img-list img {
    height: 84px;
  }
  .productDisplay-main-img img {
    height: 350px;
  }
  .productDisplay-right {
    row-gap: 15px;
  }
  .productDisplay-right h1 {
    font-size: 20px;
  }
  .productDisplay-right-star img {
    width: 15px;
  }
  .productDisplay-right-star {
    font-size: 12px;
  }
  .productDisplay-right-description {
    font-size: 14px;
  }
  .productDisplay-right-sizes h4 {
    font-size: 16px;
  }
  .productDisplay-right-size {
    height: 30px;
    font-size: 14px;
  }
  .productDisplay-right-size div {
    width: 30px;
    height: 100%;
  }
  .productDisplay-right button {
    width: 120px;
    padding: 12px 8px;
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .productDisplay {
    column-gap: 10px;
  }
  .productDisplay-img-list img {
    height: 71px;
  }
  .productDisplay-main-img img {
    height: 300px;
  }
  .productDisplay-right h1 {
    font-size: 16px;
  }
  .productDisplay-right {
    row-gap: 10px;
  }
  .productDisplay-right-star {
    column-gap: 5px;
    font-size: 12px;
    margin-top: 5px;
  }
  .productDisplay-right-prices {
    column-gap: 10px;
  }
  .productDisplay-right-size {
    height: 26px;
    font-size: 12px;
    column-gap: 5px;
  }
  .productDisplay-right-size div {
    width: 26px;
  }
  .productDisplay-right button {
    width: 100px;
    padding: 12px 8px;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .productDisplay {
    flex-direction: column;
    height: auto;
    gap: 15px;
  }
  .productDisplay-right {
    row-gap: 5px;
  }
  .productDisplay-right {
   width: 100%;
  }
  .productDisplay-left {
    justify-content: center;
  }
  .productDisplay-right-description {
    font-size: 12px;
}
}
